.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-left: 80px;
    padding-right: 80px;
}
.first{
    display: flex;
    gap: 10px;
    align-items: center;

}
.second{
    display: flex;
    gap:20px ;
}
.button{
    border-radius: 6px;
    background-color:#4aef7c;
    font-size: small;
    width: 80px;
    height: 25px;
}

@media(min-width:760px){
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: sticky;
        padding-left: 40px;
        padding-right: 40px;
    }
}
